<?xml version="1.0"?>
<!--

  Copyright (c) 2024, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!--File includes-->
  <xacro:include filename="$(find pal_urdf_utils)/urdf/camera/realsense_d435i.urdf.xacro"/>

  <xacro:macro name="kangaroo_waist" params="parent">

  <xacro:realsense_d435i name="waist_front_rgbd_camera"  parent="${parent}" use_nominal_extrinsics="${use_sim_time}">
    <origin xyz="0.11998 0 -0.0085" rpy="0 1.125 0"/>
  </xacro:realsense_d435i>

  <xacro:realsense_d435i name="waist_back_rgbd_camera"  parent="${parent}" use_nominal_extrinsics="${use_sim_time}">
    <origin xyz="-0.20238 0 -0.05049" rpy="3.14159 2.0944 0"/>
  </xacro:realsense_d435i>

  </xacro:macro>
</robot>
