<?xml version="1.0"?>
<!-- 
  Copyright (c) 2024 PAL Robotics S.L. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 -->

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="kangaroo">

  <!-- INCLUDES -->
  <xacro:include filename="$(find kangaroo_description)/ros2_control/joint.ros2_control.xacro" />
  <xacro:include filename="$(find kangaroo_description)/ros2_control/passive_joint.ros2_control.xacro" />
  <xacro:include filename="$(find kangaroo_description)/ros2_control/transmissions.urdf.xacro" />
  <xacro:include filename="$(find kangaroo_description)/urdf/leg/leg.transmission.xacro" />
  <xacro:include filename="$(find kangaroo_description)/urdf/ankle/ankle.transmission.xacro" />

  <!-- MACRO DEFINITION-->
  <xacro:macro name="leg_ros2_control" params="side has_ankle_ft_sensor:=false">
    <xacro:joint_ros2control name="leg_${side}_1" initial_position="0.0" />
    <xacro:joint_ros2control name="leg_${side}_2" initial_position="0.05" />
    <xacro:joint_ros2control name="leg_${side}_3" initial_position="0.0" />
    <xacro:joint_ros2control name="leg_${side}_length" initial_position="0.6" />
    <xacro:joint_ros2control name="leg_${side}_4" initial_position="-0.07" />
    <xacro:joint_ros2control name="leg_${side}_5" initial_position="0.0" />
    <xacro:passive_joint_ros2control name="leg_${side}_femur" initial_position="0.9" />
    <xacro:passive_joint_ros2control name="leg_${side}_knee" initial_position="1.8" />

    <xacro:if value="${sim_type == 'no-simulation'}" >
      <xacro:hip_transmission_yaw side="${side}" offset="${leg_1_joint_offset}" initial_position="0.0" />
      <xacro:hip_transmission_roll_pitch side="${side}" roll_joint="3" pitch_joint="2" />
      <xacro:kangaroo_leg_length_actuator_transmission side="${side}" />
      <xacro:kangaroo_ankle_transmission side="${side}" roll_joint="5" pitch_joint="4" read_actuator="leg_${side}_length_actuator" />
    </xacro:if>
    <xacro:if value="${has_ankle_ft_sensor}">
        <xacro:include filename="$(find pal_urdf_utils)/urdf/ft_sensors/ftsensor.ros2_control.xacro"/>
        <xacro:ros2_control_force_torque_sensor name="ankle_${side}_ft_sensor"/>
    </xacro:if>
  </xacro:macro>

</robot>