<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="kangaroo">

    <xacro:macro name="joint_ros2control"
        params="name initial_position:=0.0">
        <joint name="${name}_joint">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <command_interface name="force" />
            <command_interface name="effort">
                <limits enable="false"/>
            </command_interface>

            <state_interface name="position">
                <param name="initial_value">${initial_position}</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
            <state_interface name="force" />
        <xacro:unless value="${sim_type == 'mujoco' or sim_type == 'mujoco-ros2-control'}">
            <state_interface name="absolute_position" />
        </xacro:unless>
        </joint>
    </xacro:macro>
</robot>