<?xml version="1.0"?>
<!--
  Copyright (c) 2024 PAL Robotics S.L. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 -->

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="kangaroo">

  <!-- INCLUDES -->
  <xacro:include filename="$(find kangaroo_description)/urdf/pelvis/ros2_control.urdf.xacro" />
  <xacro:include filename="$(find kangaroo_description)/urdf/leg/ros2_control.urdf.xacro" />
  <xacro:include filename="$(find pal_sea_arm_description)/urdf/arm/arm_properties/humanoid/ros2_control.urdf.xacro" />
  <xacro:include filename="$(find pal_sea_arm_description)/urdf/end_effector/humanoid/ros2_control.urdf.xacro" />
  <!-- calibration offsets -->
  <xacro:include filename="$(find kangaroo_description)/urdf/calibration_constants.urdf.xacro" />


  <!-- IMU MACRO DEFINITION-->
  <xacro:macro name="imu_ros2_control" params="name">
    <sensor name="${name}_imu_sensor">
      <param name="mujoco_type">imu</param>
      <!-- There is no requirement for the mujoco_sensor_name to match the ros2_control sensor name -->
      <param name="mujoco_sensor_name">${name}_imu_sensor</param>
      <!-- Default value of orientation_mjcf_suffix is '_quat' -->
      <param name="orientation_mjcf_suffix">_quat</param>
      <!-- Default value of angular_velocity_mjcf_suffix is '_gyro' -->
      <param name="angular_velocity_mjcf_suffix">_gyro</param>
      <!-- Default value of linear_acceleration_mjcf_suffix is '_accel' -->
      <param name="linear_acceleration_mjcf_suffix">_accel</param>
      <state_interface name="orientation.x"/>
      <state_interface name="orientation.y"/>
      <state_interface name="orientation.z"/>
      <state_interface name="orientation.w"/>
      <state_interface name="angular_velocity.x"/>
      <state_interface name="angular_velocity.y"/>
      <state_interface name="angular_velocity.z"/>
      <state_interface name="linear_acceleration.x"/>
      <state_interface name="linear_acceleration.y"/>
      <state_interface name="linear_acceleration.z"/>
    </sensor>
  </xacro:macro>

  <!-- MACRO DEFINITION-->
  <xacro:macro name="kangaroo_ros2_control" params="arm_type has_ankle_ft_sensor_right has_ankle_ft_sensor_left torso_imu_model base_imu_model">

    <ros2_control name="ros2_control_kangaroo_system" type="system" is_async="${'true' if sim_type == 'no-simulation' else 'false'}">
      <xacro:if value="${sim_type == 'no-simulation'}" >
        <properties>
          <async thread_priority="70" affinity="[1]" scheduling_policy="detached"/>
        </properties>
      </xacro:if>
      <hardware>
        <xacro:if value="${sim_type == 'no-simulation'}">
          <plugin>robot_control/RobotControl</plugin>
          <param name="error_protection">true</param>
          <param name="expose_safety_interface">true</param>
          <param name="idle_mode_on_stop">true</param>
          <param name="idle_mode_on_stop_interfaces">[current, effort, force, torque]</param>
        </xacro:if>
        <xacro:unless value="${sim_type == 'no-simulation'}">
          <plugin>mujoco_ros2_control/MujocoSystemInterface</plugin>
          <!-- Override the slowdown settings in the Simulate App and run at 1x speed -->
          <param name="sim_speed_factor">1.0</param>
          <param name="pids_config_file">$(find kangaroo_mujoco)/config/pids.yaml</param>
          <param name="initial_keyframe">home</param>
        </xacro:unless>
      </hardware>


      <xacro:if value="${has_pelvis}">
        <xacro:pelvis_ros2_control />
      </xacro:if>

      <xacro:leg_ros2_control side="left" has_ankle_ft_sensor="${has_ankle_ft_sensor_left}"/>
      <xacro:leg_ros2_control side="right" has_ankle_ft_sensor="${has_ankle_ft_sensor_right}"/>

      <xacro:if value="${arm_type != 'no-arm'}">
        <xacro:arm_ros2_control side="left" arm_type="${arm_type}"/>
        <xacro:arm_ros2_control side="right" arm_type="${arm_type}"/>

        <xacro:if value="${end_effector_right == 'pal-pro-gripper'}">
          <!-- pal-pro-gripper right -->
          <xacro:ros2_control_pal_pro_gripper name="gripper_right" reduction="1.0" />
        </xacro:if>
        <xacro:if value="${end_effector_left == 'pal-pro-gripper'}">
          <!-- pal-pro-gripper left -->
          <xacro:ros2_control_pal_pro_gripper name="gripper_left" reduction="1.0" />
        </xacro:if>
      </xacro:if>

      <xacro:unless value="${sim_type == 'no-simulation'}">
        <!-- IMU sensor -->
        <xacro:if value="${torso_imu_model != 'no-imu'}">
          <xacro:imu_ros2_control name="torso"/>
        </xacro:if>
      <xacro:if value="${base_imu_model != 'no-imu'}">
        <xacro:imu_ros2_control name="base"/>
      </xacro:if>
    </xacro:unless>

    </ros2_control>

    <xacro:if value="${sim_type == 'no-simulation'}">
      <xacro:if value="${torso_imu_model == 'orientus'}">
        <ros2_control name="ros2_control_orientus" type="sensor" rw_rate="1000" is_async="true">
          <hardware>
            <plugin>pal_orientus_sensor/OrientusSensor</plugin>
            <param name="io_device">/dev/ttyUSB0</param>
            <param name="sensor_name">torso_imu_sensor</param>
            <param name="orientation_to_enu_frame">3.14159, 0.0, 1.570796</param>
            <!-- The following parameter is used to enable the ENU transformation for velocity and acceleration -->
            <param name="enable_orientation_to_enu_frame">false</param>
          </hardware>
        </ros2_control>
      </xacro:if>
      <xacro:if value="${torso_imu_model == 'microstrain'}">
        <ros2_control name="ros2_control_microstrain" type="sensor" rw_rate="1000" is_async="true">
          <properties>
            <async print_warnings="false"/>
          </properties>
          <hardware>
            <plugin>pal_microstrain_sensor/MicrostrainSensor</plugin>
            <param name="io_device">/dev/torso_imu_sensor</param>
            <param name="sensor_name">torso_imu_sensor</param>
            <param name="orientation_to_enu_frame">3.14159, 0.0, 1.570796</param>
            <!-- The following parameter is used to enable the ENU transformation for velocity and acceleration -->
            <param name="enable_orientation_to_enu_frame">false</param>
            <param name="baudrate">921600</param>
            <param name="data_rate_hz">1000</param>
          </hardware>
        </ros2_control>
      </xacro:if>
      <xacro:if value="${base_imu_model == 'microstrain'}">
        <ros2_control name="ros2_control_microstrain_base" type="sensor" rw_rate="1000" is_async="true">
          <properties>
            <async print_warnings="false"/>
          </properties>
          <hardware>
            <plugin>pal_microstrain_sensor/MicrostrainSensor</plugin>
            <param name="io_device">/dev/base_imu_sensor</param>
            <param name="sensor_name">base_imu_sensor</param>
            <param name="orientation_to_enu_frame">3.14159, 0.0, 1.570796</param>
            <!-- The following parameter is used to enable the ENU transformation for velocity and acceleration -->
            <param name="enable_orientation_to_enu_frame">false</param>
            <param name="baudrate">921600</param>
            <param name="data_rate_hz">1000</param>
          </hardware>
        </ros2_control>
      </xacro:if>
    </xacro:if>

  </xacro:macro>

</robot>
