Source: ros-humble-kangaroo-controller-configuration
Section: misc
Priority: optional
Maintainer: "Sergi de las Muelas" <sergi.acosta@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-ros-workspace
Homepage: https://index.ros.org/p/kangaroo_controller_configuration/#humble
Standards-Version: 3.9.2

Package: ros-humble-kangaroo-controller-configuration
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-ament-index-python, ros-humble-diagnostic-aggregator, ros-humble-joint-state-broadcaster, ros-humble-joint-trajectory-controller, ros-humble-launch, ros-humble-launch-pal, ros-humble-ros2controlcli, ros-humble-ros-workspace
Description: The kangaroo_controller_configuration package
