<?xml version="1.0"?>
<!--

  Copyright (c) 2025 PAL Robotics S.L. All rights reserved.
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="kangaroo" >

  <!-- ARGUMENTS -->
  <!-- ati, no-ft-sensor -->
  <xacro:arg name="ankle_ft_right" default="no-ft-sensor" />
  <xacro:arg name="ankle_ft_left" default="no-ft-sensor" />

  <!-- True, False -->
  <xacro:arg name="has_pelvis" default="True" />

  <!-- True, False -->
  <xacro:arg name="has_head" default="False" />

  <!-- fixed, detachable-->
  <xacro:arg name="feet_type" default="fixed" />
  
  <!-- no-arm, 4dof, 5dof, 7dof] -->
  <xacro:arg name="arm_type" default="4dof" />

  <!-- no-end-effector, gripper, RH8D -->
  <xacro:arg name="end_effector_right" default="no-end-effector" />
  <xacro:arg name="end_effector_left" default="no-end-effector" />
  
  <!-- fixed, floating -->
  <xacro:arg name="fixation_type" default="floating" />

  <xacro:arg name="ft_sensor_left" default="no-ft-sensor" />
  <xacro:arg name="ft_sensor_right" default="no-ft-sensor" />


  <!-- world name defined in pal_mujoco_scenes package -->
  <xacro:arg name="world_name" default="floor"/>

  <!-- torso mesh model ('torso', 'torso_2024') -->
   <xacro:arg name="torso_mesh" default="torso" />

  <!-- UNKNOWN ARGS -->
  
  <!-- True, False -->
  <xacro:arg name="use_mimic" default="False" />

  <!-- realsense-D435i -->
  <xacro:arg name="torso_front_up_camera_model" default="realsense-d435i" />
  
  <!-- realsense-D435i -->
  <xacro:arg name="torso_rear_up_camera_model" default="realsense-d435i" />
  
  <!-- realsense-D435i -->
  <xacro:arg name="torso_front_down_camera_model" default="realsense-d435i" />
  
  <!-- realsense-D435i -->
  <xacro:arg name="torso_rear_down_camera_model" default="realsense-d435i" />
  
  <!-- COMMON ARGS -->
  
  <!-- True, False -->
  <xacro:arg name="use_sim_time" default="False" />

  <!-- mujoco-ros2-control, mujoco, no-simulation -->
  <xacro:arg name="sim_type" default="no-simulation" />

  <!-- false, position, motor -->
  <xacro:arg name="mj_control" default="position" />
  
  <!-- mesh, capsule -->
  <xacro:arg name="collision_type" default="mesh" />

  <!-- orientus, microstrain, no-imu -->
  <xacro:arg name="torso_imu_model" default="orientus" />
  <xacro:arg name="base_imu_model" default="no-imu" />

  <!-- GLOBAL PROPERTIES -->
  
  <xacro:property name="use_sim_time" value="$(arg use_sim_time)" />
  <xacro:property name="sim_type" value="$(arg sim_type)"/>
  <xacro:property name="mj_control" value="$(arg mj_control)" />
  <xacro:property name="collision_type" value="$(arg collision_type)"/>
  <xacro:property name="torso_mesh" value="$(arg torso_mesh)"/>

  <!-- PROPERTIES -->

  <xacro:property name="ankle_ft_right" value="$(arg ankle_ft_right)" />
  <xacro:property name="ankle_ft_left" value="$(arg ankle_ft_left)" />
  <xacro:property name="has_pelvis" value="$(arg has_pelvis)" />
  <xacro:property name="has_head" value="$(arg has_head)" />
  <xacro:property name="arm_type" value="$(arg arm_type)" />
  <xacro:property name="feet_type" value="$(arg feet_type)" />
  <xacro:property name="fixation_type" value="$(arg fixation_type)" />
  <xacro:property name="end_effector_right" value="$(arg end_effector_right)" />
  <xacro:property name="end_effector_left" value="$(arg end_effector_left)" />
  <xacro:property name="ft_sensor_left" value="$(arg ft_sensor_left)" />
  <xacro:property name="ft_sensor_right" value="$(arg ft_sensor_right)" />
  <xacro:property name="world_name" value="$(arg world_name)" />

  <xacro:property name="use_mimic" value="$(arg use_mimic)" />
  <xacro:property name="torso_front_up_camera_model" value="$(arg torso_front_up_camera_model)" />
  <xacro:property name="torso_rear_up_camera_model" value="$(arg torso_rear_up_camera_model)" />
  <xacro:property name="torso_front_down_camera_model" value="$(arg torso_front_down_camera_model)" />
  <xacro:property name="torso_rear_down_camera_model" value="$(arg torso_rear_down_camera_model)" />
  <xacro:property name="has_arms" value="${arm_type not in ['no-arm']}" />
  <xacro:property name="has_ft_sensor_left" value="${ft_sensor_left not in ['no-ft-sensor']}"/>
  <xacro:property name="has_ft_sensor_right" value="${ft_sensor_right not in ['no-ft-sensor']}"/>
  <xacro:property name="has_ankle_ft_sensor_left" value="${ankle_ft_left not in ['no-ft-sensor']}"/>
  <xacro:property name="has_ankle_ft_sensor_right" value="${ankle_ft_right not in ['no-ft-sensor']}"/>
  <xacro:property name="end_effector_right_link" value="${'wrist_right_ft_tool_link' if has_ft_sensor_right else 'arm_right_tool_link'}" />
  <xacro:property name="end_effector_left_link" value="${'wrist_left_ft_tool_link' if has_ft_sensor_left else 'arm_left_tool_link'}" />
  <xacro:property name="torso_imu_model" value="$(arg torso_imu_model)" />
  <xacro:property name="base_imu_model" value="$(arg base_imu_model)" />


  <!-- Camera properties -->
  <xacro:property name="gazebo_version" value="classic"/>
  <xacro:property name="namespace" value=""/>
 
  <!-- Properties check -->
  
  <xacro:if value="${sim_type not in ['mujoco-ros2-control', 'mujoco', 'no-simulation']}">
    <xacro:wrong_sim_type />
  </xacro:if>

  <xacro:if value="${mj_control not in ['false', 'position', 'motor']}">
    <xacro:wrong_mj_control />
  </xacro:if>

  <xacro:if value="${fixation_type not in ['fixed', 'floating']}">
    <xacro:wrong_fixation_type />
  </xacro:if>

  <xacro:if value="${collision_type not in ['mesh', 'capsule']}">
    <xacro:wrong_collision_type />
  </xacro:if>
  
  <xacro:if value="${arm_type not in ['no-arm', '4dof', '5dof', '7dof']}">
    <xacro:wrong_arm_type />
  </xacro:if>

  <xacro:if value="${end_effector_right not in ['no-end-effector', 'gripper', 'RH8D']}">
    <xacro:wrong_end_effector_right />
  </xacro:if>
  <xacro:if value="${end_effector_left not in ['no-end-effector', 'gripper', 'RH8D']}">
    <xacro:wrong_end_effector_left />
  </xacro:if>

  <!-- FT SENSORS -->
  <xacro:if value="${ft_sensor_left not in ['no-ft-sensor', 'ati']}">
    <xacro:wrong_ft_sensor_left />
  </xacro:if>
  <xacro:if value="${ft_sensor_right not in ['no-ft-sensor', 'ati']}">
    <xacro:wrong_ft_sensor_right />
  </xacro:if>
  <xacro:if value="${ankle_ft_left not in ['no-ft-sensor', 'ati']}">
    <xacro:wrong_ankle_ft_sensor_left />
  </xacro:if>
  <xacro:if value="${ankle_ft_right not in ['no-ft-sensor', 'ati']}">
    <xacro:wrong_ankle_ft_sensor_right />
  </xacro:if>

  <xacro:if value="${arm_type in ['4dof']}">
    <xacro:if value="${end_effector_right not in ['no-end-effector'] or end_effector_left not in ['no-end-effector']}">
      <xacro:wrong_arm_end_effector_combination />
    </xacro:if>
  </xacro:if>
  <xacro:if value="${arm_type in ['5dof']}">
    <xacro:if value="${end_effector_right not in ['no-end-effector', 'RH8D'] or end_effector_left not in ['no-end-effector', 'RH8D']}">
      <xacro:wrong_arm_end_effector_combination />
    </xacro:if>
  </xacro:if>
  <xacro:if value="${arm_type in ['7dof']}">
    <xacro:if value="${end_effector_right not in ['no-end-effector', 'gripper'] or end_effector_left not in ['no-end-effector', 'gripper']}">
      <xacro:wrong_arm_end_effector_combination />
    </xacro:if>
  </xacro:if>

  <!-- (ft-leg) not available -->
  <xacro:if value="${feet_type not in ['fixed', 'detachable']}">
    <xacro:wrong_feet_type />
  </xacro:if>

  <xacro:if value="${torso_front_up_camera_model not in ['realsense-d435i']}">
    <xacro:wrong_torso_front_up_camera_model/>
  </xacro:if>
  
  <xacro:if value="${torso_rear_up_camera_model not in ['realsense-d435i']}">
    <xacro:wrong_torso_rear_up_camera_model/>
  </xacro:if>

  <xacro:if value="${torso_front_down_camera_model not in ['realsense-d435i']}">
    <xacro:wrong_torso_front_down_camera_model/>
  </xacro:if>
  
  <xacro:if value="${torso_rear_down_camera_model not in ['realsense-d435i']}">
    <xacro:wrong_torso_rear_down_camera_model/>
  </xacro:if>

  <!-- INCLUDES -->

  <!-- Tools -->
  <xacro:include filename="$(find pal_urdf_utils)/urdf/materials.urdf.xacro" />
  <xacro:include filename="$(find pal_urdf_utils)/urdf/deg_to_rad.urdf.xacro" />
  <xacro:include filename="$(find kangaroo_description)/urdf/collision.xacro" />
  
  <!-- Base -->
  <xacro:include filename="$(find kangaroo_description)/urdf/base/base.urdf.xacro"/>

  <!-- Legs -->
  <xacro:include filename="$(find kangaroo_description)/urdf/leg/leg.urdf.xacro" />

  <!-- Arms -->
  <xacro:if value="${has_arms}">
    <xacro:include filename="$(find pal_sea_arm_description)/urdf/arm/arm_properties/humanoid/arm.urdf.xacro" />
    
    <!-- End Effector -->
    <xacro:if value="${end_effector_right in ['gripper'] or end_effector_left in ['gripper']}">
      <xacro:include filename="$(find pal_sea_arm_description)/urdf/end_effector/humanoid/pal_pro_gripper.urdf.xacro" />
    </xacro:if>
    <xacro:if value="${end_effector_right in ['RH8D'] or end_effector_left in ['RH8D']}">
      <xacro:include filename="$(find pal_sea_arm_description)/urdf/end_effector/humanoid/rh8d_hand.urdf.xacro" />
    </xacro:if>

    <!-- FT Sensors  -->
    <xacro:if value="${has_ft_sensor_right or has_ft_sensor_left}">
      <xacro:include filename="$(find pal_urdf_utils)/urdf/ft_sensors/ft_sensor.urdf.xacro" />
      <xacro:include filename="$(find pal_urdf_utils)/urdf/ft_sensors/ft_sensor.gazebo.xacro" />
    </xacro:if>
  </xacro:if>

  <xacro:unless value="${has_arms}">
    <xacro:include filename="$(find pal_sea_arm_description)/urdf/arm/arm_properties/humanoid/arm_cover.urdf.xacro" />
  </xacro:unless>


  <!-- ROBOT DEFINITION -->

  <!-- BASE, PELVIS, TORSO -->

  <xacro:base_link has_pelvis="${has_pelvis}"/>
  
  <!-- LEGS -->

  <xacro:if value="${feet_type in ['fixed', 'detachable']}">
    <!-- Left Leg -->
    <xacro:kangaroo_leg side="left" reflect="1" parent="base_link" feet_type="${feet_type}">
      <origin xyz="-0.0150025976417119 0.08 -0.0585" rpy="0 0 0"/>
    </xacro:kangaroo_leg>
    <!-- Right Leg -->
    <xacro:kangaroo_leg side="right" reflect="-1" parent="base_link" feet_type="${feet_type}">
      <origin xyz="-0.0150025976417119 -0.08 -0.0585" rpy="0 0 0"/>
    </xacro:kangaroo_leg>
  </xacro:if>

  <!-- ARMS -->

  <xacro:if value="${has_arms}">
    <!-- Left Arm -->
    <xacro:kangaroo_arm name="arm" side="left" type="${arm_type}" reflect="1" parent="torso_link" >
      <origin xyz="0 0.105954 0.384396" rpy="1.3963 3.14159 3.14159" />
    </xacro:kangaroo_arm>
    <!-- Right Arm -->
    <xacro:kangaroo_arm name="arm" side="right" type="${arm_type}" reflect="-1" parent="torso_link" >
      <origin xyz="0 -0.105954 0.384396" rpy="1.3963 3.14159 0" />
    </xacro:kangaroo_arm>

    <!-- END EFFECTOR -->

    <xacro:if value="${end_effector_right in ['gripper']}">
      <xacro:gripper name="gripper_right" parent="${end_effector_right_link}"/>
    </xacro:if>
    <xacro:if value="${end_effector_left in ['gripper']}">
      <xacro:gripper name="gripper_left" parent="${end_effector_left_link}"/>
    </xacro:if>

    <xacro:if value="${end_effector_right in ['RH8D']}">
      <xacro:hand name="hand" side="left" parent="arm_left_tool_link" mimic="${use_mimic}">
        <origin xyz="0 0 0" rpy="0 0 1.5708"/>
      </xacro:hand>
    </xacro:if>
    <xacro:if value="${end_effector_left in ['RH8D']}">
      <xacro:hand name="hand" side="right" parent="arm_right_tool_link" mimic="${use_mimic}">
        <origin xyz="0 0 0" rpy="0 0 1.5708"/>
      </xacro:hand>
    </xacro:if>

    <!-- FT SENSORS -->
      <xacro:if value="${has_ft_sensor_left}">
        <xacro:ft_sensor type="${ft_sensor_left}" name="wrist_left" parent="arm_left_tool_link"/>
      </xacro:if>

      <xacro:if value="${has_ft_sensor_right}">
        <xacro:ft_sensor type="${ft_sensor_right}" name="wrist_right" parent="arm_right_tool_link"/>
      </xacro:if>

  </xacro:if>

  <xacro:unless value="${has_arms}">
    <!-- Left Arm Cover -->
    <xacro:kangaroo_arm_cover name="arm_cover" side="left" reflect="1" parent="torso_link">  
      <origin xyz="0 0.105954 0.384396" rpy="1.3963 0 0" />
    </xacro:kangaroo_arm_cover>
    <!-- Right Arm Cover -->
    <xacro:kangaroo_arm_cover name="arm_cover" side="right" reflect="-1" parent="torso_link">  
      <origin xyz="0 -0.105954 0.384396" rpy="1.3963 0 3.14159" />
    </xacro:kangaroo_arm_cover>
  </xacro:unless>

  <!-- MUJOCO   -->

  <xacro:if value="${sim_type == 'mujoco' or sim_type == 'mujoco-ros2-control'}">
    <xacro:if value="${end_effector_right == 'gripper' or end_effector_left == 'gripper'}">
      <xacro:include filename="$(find pal_pro_gripper_description)/mujoco/mj_tags.xacro" />
    </xacro:if>
    <xacro:if value="${end_effector_right == 'RH8D'}">
      <xacro:include filename="$(find rh8d_description)/mujoco/mj_tags.xacro" />
    </xacro:if>
    <xacro:include filename="$(find kangaroo_description)/mujoco/mj_tags.xacro" />
    <!-- Disabling it to avoid pal_mujoco_scenes dependency -->
    <!-- <xacro:include filename="$(find pal_mujoco_scenes)/scenes/${world_name}.xacro" /> -->
    <xacro:include filename="$(find kangaroo_description)/mujoco/${world_name}.xacro" />
   
    <mujoco_inputs> 
      <!-- Mujoco environment -->
      <scene>
        <xacro:mj_scene/>
      </scene>
      
      <!-- The contents of `raw_inputs` will be copied and pasted directly into the MJCF -->
      <raw_inputs>
        <option timestep="0.0005"/>

        <!-- Default values -->
        <default>
          <xacro:mj_robot_defaults />
        </default>

        <!-- Contact-->
        <contact>
          <xacro:mj_robot_contacts />
          <xacro:if value="${end_effector_right == 'gripper'}">
            <xacro:mj_gripper_contact name="gripper_right" />
          </xacro:if>
          <xacro:if value="${end_effector_left == 'gripper'}">
            <xacro:mj_gripper_contact name="gripper_left" />
          </xacro:if>
          <xacro:if value="${end_effector_right == 'RH8D'}">
            <xacro:mj_hand_contact name="hand" side="right"/>
            <exclude body1="hand_right_palm_link"  body2="arm_right_5_link"/>
          </xacro:if>
          <xacro:if value="${end_effector_left == 'RH8D'}">
            <xacro:mj_hand_contact name="hand" side="left"/>
            <exclude body1="hand_left_palm_link"  body2="arm_left_5_link"/>
          </xacro:if>
        </contact>

        <default>
          <default class="visual">
            <geom group="2" type="mesh" contype="0" conaffinity="0"/>
          </default>
          <default class="collision">
            <geom group="3" type="mesh"/>
          </default>
        </default>

        <!-- Equality-->
        <equality>
          <xacro:mj_robot_equality />
          <xacro:if value="${end_effector_right == 'gripper'}">
            <xacro:mj_gripper_equality name="gripper_right" anchor_r="0.014 -0.0015 0" anchor_l="0.014 -0.001 0" />
          </xacro:if>
          <xacro:if value="${end_effector_left == 'gripper'}">
            <xacro:mj_gripper_equality name="gripper_left" anchor_r="0.01475 -0.001463 0.001" anchor_l="0.0145 -0.0015 0.001"/>
          </xacro:if>
          <xacro:if value="${end_effector_right == 'RH8D'}">
            <xacro:mj_hand_equality name="hand" side="right" />
          </xacro:if>
          <xacro:if value="${end_effector_left == 'RH8D'}">
            <xacro:mj_hand_equality name="hand" side="left" />
          </xacro:if>
        </equality>

        <!-- Actuator -->
        <actuator>
          <xacro:mj_robot_actuators/>
          <xacro:if value="${end_effector_right == 'gripper'}">
            <xacro:mj_gripper_actuators name="gripper_right" />
          </xacro:if>
          <xacro:if value="${end_effector_left == 'gripper'}">
            <xacro:mj_gripper_actuators name="gripper_left" />
          </xacro:if>
          <xacro:if value="${end_effector_right == 'RH8D'}">
            <xacro:mj_hand_actuators name="hand" side="right" />
          </xacro:if>
          <xacro:if value="${end_effector_left == 'RH8D'}">
            <xacro:mj_hand_actuators name="hand" side="left" />
          </xacro:if>
        </actuator>
        
        <!-- Keyframe -->
        <xacro:keyframe_home/>

        <!-- special pal_mujoco tag. This is the least invasive solution I found to add a site to a body  -->
        <!-- this tag won't work in a regular mjcf xml file -->
        <sensor>
          <xacro:if value="${torso_imu_model != 'no-imu'}">
            <framequat name="torso_imu_sensor_quat" objtype="site" objname="torso_imu_link" />
            <gyro name="torso_imu_sensor_gyro" site="torso_imu_link" />
            <accelerometer name="torso_imu_sensor_accel" site="torso_imu_link" />
          </xacro:if>
          <xacro:if value="${base_imu_model != 'no-imu'}">
            <framequat name="base_imu_sensor_quat" objtype="site" objname="base_imu_sensor_link" />
            <gyro name="base_imu_sensor_gyro" site="base_imu_sensor_link" />
            <accelerometer name="base_imu_sensor_accel" site="base_imu_sensor_link" />
          </xacro:if>
          <xacro:if value="${ankle_ft_right != 'no-ft-sensor'}">
            <force name="ankle_right_ft_sensor_force" site="ankle_right_ft_sensor_link"/>
            <torque name="ankle_right_ft_sensor_torque" site="ankle_right_ft_sensor_link"/>
          </xacro:if>
          <xacro:if value="${ankle_ft_left != 'no-ft-sensor'}">
            <force name="ankle_left_ft_sensor_force" site="ankle_left_ft_sensor_link"/>
            <torque name="ankle_left_ft_sensor_torque" site="ankle_left_ft_sensor_link"/>
          </xacro:if>
        </sensor>
      </raw_inputs>

      <processed_inputs>

        <!-- Specifying decompose_mesh will set the `decompose` flag when using obj2mjcf -->
        <!-- Base/Torso Meshes -->
        <!-- <decompose_mesh mesh_name="torso_2024_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="torso_link_collision" threshold="0.05"/> 
        <decompose_mesh mesh_name="torso_link_convex" threshold="0.05"/> 
        <decompose_mesh mesh_name="torso_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="base_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="base_link_collision" threshold="0.05"/> 
        <decompose_mesh mesh_name="base_link_with_pelvis" threshold="0.05"/> 
        <decompose_mesh mesh_name="base_link_with_pelvis_collision" threshold="0.05"/> 
        <decompose_mesh mesh_name="handle" threshold="0.05"/> 
        <decompose_mesh mesh_name="waist_protector_collision" threshold="0.05"/>  -->
        <!-- Pelvis Meshes -->
        <!-- <decompose_mesh mesh_name="pelvis_base_link_collision" threshold="0.05"/> 
        <decompose_mesh mesh_name="pelvis_base_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="pelvis_1_link_collision" threshold="0.05"/> 
        <decompose_mesh mesh_name="pelvis_1_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="pelvis_2_link_collision" threshold="0.05"/> 
        <decompose_mesh mesh_name="pelvis_2_link" threshold="0.05"/>  -->
        <!-- Arm Meshes -->
        <!-- <decompose_mesh mesh_name="arm_base_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="arm1_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="arm2_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="arm3_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="arm4_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="arm5_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="arm5_tip_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="arm6_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="arm7_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="fake_forearm_left_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="fake_forearm_right_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="old_arm6_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="old_arm7_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="arm_cover_collision" threshold="0.05"/>  -->
        <!-- Leg Meshes -->
        <!-- <decompose_mesh mesh_name="leg_left_1_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="leg_left_2_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="leg_left_3_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="leg_right_1_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="leg_right_2_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="leg_right_3_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="leg_4_collision_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="leg_5_collision_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="leg_6_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="leg_femur_link" threshold="0.05"/> 
        <decompose_mesh mesh_name="leg_tibia_link" threshold="0.05"/>  -->
        <!-- <xacro:if value ="${feet_type == 'fixed'}">
          <decompose_mesh mesh_name="leg_7_link" threshold="0.02"/>
        </xacro:if> -->
        
        <!-- The camera with the specified values will be added at the specified site name. -->
        <!-- The position and quaterinion will be filled in by the converter -->
        <!-- <camera site="pelvis_1_link" name="camera" fovy="58" mode="fixed" resolution="640 480" pos="2 2 2" quat="1 0 0 0"/> -->

        <!-- Adds a lidar tag below a site tag to support a lidar sensor. -->
        <!-- In the URDF, we assume that that the sensor frame has the Z-axis pointed directly up in the sensor -->
        <!-- frame. This tag will create rangefinders in the MJCF between min_angle and max_angle at each -->
        <!-- angle_increment rotated about the replicate frame's Y axis. The hardware intercface then combines -->
        <!-- them into a single LaserScan message. -->
        <!-- <lidar ref_site="torso_link" sensor_name="rf" min_angle="-0.3" max_angle="0.3" angle_increment="0.025" /> -->

        <!-- The element with the type and name as listed below will be modified with the remaining attributes -->
        <!-- If the attribute already existed, it will be overwritten -->
        <!-- Note that the type and name elements are required -->
        <!-- <modify_element type="joint" name="joint1" frictionloss="1.0" damping="2.0"/>
        <modify_element type="body" name="forearm" gravcomp="1.0"/> -->
        <xacro:if value="${fixation_type == 'fixed'}">
          <modify_element type="body" name="base_link" pos="0 0 1.2" quat="1 0 0 0" />
        </xacro:if>
        

      </processed_inputs>
    </mujoco_inputs>  
  </xacro:if>


  <!-- ROS 2 Control -->
  <xacro:unless value="${sim_type == 'mujoco'}">
    <xacro:include filename="$(find kangaroo_description)/ros2_control/ros2_control.urdf.xacro" />
    <xacro:kangaroo_ros2_control arm_type="${arm_type}" has_ankle_ft_sensor_right="${has_ankle_ft_sensor_right}" has_ankle_ft_sensor_left="${has_ankle_ft_sensor_left}" torso_imu_model="${torso_imu_model}" base_imu_model="${base_imu_model}" />
  </xacro:unless>

</robot>
