<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="kangaroo">

<xacro:property name="foot_length"   value="0.21" />
<xacro:property name="foot_width"   value="0.09" />

    <xacro:macro name="kangaroo_detachable_foot_frames" params="side parent">
        <link name="${side}_foot">
            <inertial>
                <origin xyz="-0.000166 0.000023 -0.004617" rpy="0 0 0" />
                <mass value="0.170698" />
                <inertia ixx="0.00007" ixy="-0.000001" ixz="0.0"
                        iyy="0.000065" iyz="0.0"
                        izz="0.000125" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://kangaroo_description/meshes/leg/foot.stl" />
                </geometry>
                    <material name="pal/DarkGrey" />
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://kangaroo_description/meshes/leg/foot.stl" />
                </geometry>
            </collision>
        </link>
        <joint name="${side}_foot_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="${parent}" />
            <child link="${side}_foot" />
            <axis xyz="0 0 0" />
        </joint>
        <link name="ankle_${side}_ft_sensor_link">
            <inertial>
                <origin xyz="-0.000443003666554599 0.000522074497974099 -0.0153068327087122" rpy="0 0 0" />
                <mass value="0.345" />
                <inertia ixx="0.000104" ixy="0.000003" ixz="-0.000002"
                        iyy="0.000102" iyz="0.000002"
                        izz="0.000155" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://kangaroo_description/meshes/leg/foot-ft.stl" />
                </geometry>
                <material name="pal/DarkGrey" />
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://kangaroo_description/meshes/leg/foot-ft.stl" />
                </geometry>
            </collision>
        </link>
        <joint name="${side}_foot_ft" type="fixed">
            <origin xyz="0 0 -0.014" rpy="0 0 ${180 * deg_to_rad}" />
            <parent link="${side}_foot" />
            <child link="ankle_${side}_ft_sensor_link" />
            <axis xyz="0 0 0" />
        </joint>
        <link name="${side}_sole_link">
            <inertial>
                <origin xyz="-0.004811 -0.000026 0.016821" rpy="0 0 0" />
                <mass value="0.806297" />
                <inertia ixx="0.000895" ixy="0.0" ixz="0.000084"
                        iyy="0.00422" iyz="0.0"
                        izz="0.004831" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://kangaroo_description/meshes/leg/foot-sole.stl" />
                </geometry>
                <material name="pal/DarkGrey" />
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://kangaroo_description/meshes/leg/foot-sole.stl" />
                </geometry>
            </collision>
        </link>
        <joint name="${side}_foot_sole" type="fixed">
            <origin xyz="0 0 -0.043472" rpy="0 0 -${180 * deg_to_rad}" />
            <parent link="ankle_${side}_ft_sensor_link" />
            <child link="${side}_sole_link" />
            <axis xyz="0 0 0" />
        </joint>
    </xacro:macro>
</robot>