<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="kangaroo">

  <!-- <xacro:include filename="$(find kangaroo_description)/urdf/pelvis/pelvis.transmission.xacro" /> -->

  <xacro:macro name="kangaroo_pelvis" params="name parent *origin pelvis_1_offset pelvis_2_offset">
    <xacro:property name="arm_eps"       value="${0.00 if no_safety_eps else 0.07}"/>
    <link name="${name}_base_link">
      <inertial>
        <mass value="1.610614"/>
        <origin xyz="-0.019996 -0.000002 0.003623" rpy="0 0 0"/>
        <inertia ixx="0.006767" ixy="0" ixz="-0.000146" 
          iyy="0.006367" iyz="0" izz="0.003838"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://kangaroo_description/meshes/pelvis/${name}_base_link.stl" />
        </geometry>
        <material name="pal/DarkGrey" />
      </visual>
      <xacro:link_collision 
        mujoco="${sim_type in ['mujoco-ros2-control', 'mujoco']}"
        collision_type="${collision_type}"
        mesh_file="package://kangaroo_description/meshes/pelvis/${name}_base_link_collision.stl"
        scale="1 1 1">
        <properties>
          <xacro:origin xyz="0 0 0" rpy="0 0 0" condition="${collision_type == 'mesh'}"/>
          <xacro:origin xyz="0 0 0" rpy="0 0 0" condition="${collision_type == 'capsule'}"/>
        </properties>
      </xacro:link_collision>

    </link>
 
    <joint name="${name}_fixed_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}" />
      <child link="${name}_base_link" />
    </joint>

    <link name="${name}_1_link">
      <inertial>
        <origin xyz="-0.02593 -1E-06 0.001466" rpy="0 0 0" />
        <mass value="1.248563" />
        <inertia
          ixx="0.005394"
          ixy="0"
          ixz="7.7E-05"
          iyy="0.004808"
          iyz="0"
          izz="0.003247" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://kangaroo_description/meshes/pelvis/${name}_1_link.stl" />
        </geometry>
        <material name="pal/DarkGrey" />
      </visual>
      <xacro:link_collision 
        mujoco="${sim_type in ['mujoco-ros2-control', 'mujoco']}"
        collision_type="${collision_type}"
        mesh_file="package://kangaroo_description/meshes/pelvis/${name}_1_link_collision.stl"
        scale="1 1 1">
        <properties>
          <xacro:origin xyz="0 0 0" rpy="0 0 0" condition="${collision_type == 'mesh'}"/>
          <xacro:origin xyz="0 0 0" rpy="0 0 0" condition="${collision_type == 'capsule'}"/>
        </properties>
      </xacro:link_collision>
    </link>
    <joint name="${name}_1_joint" type="revolute">
      <origin xyz="0 0 0.052" rpy="0 1.5708 0" />
      <parent link="${name}_base_link" />
      <child link="${name}_1_link" />
      <axis xyz="0 0 -1" />
      <limit
        lower="-0.3490658504"
        upper="0.3490658504"
        effort="100"
        velocity="3.14" />
    </joint>
    <link name="${name}_2_link">
      <inertial>
        <mass value="0.438705"/>
        <origin xyz="0 0 -0.011237" rpy="0 0 0"/>
        <inertia ixx="0.000637" ixy="0.000011" ixz="0" 
          iyy="0.000676" iyz="0" izz="0.001283"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://kangaroo_description/meshes/pelvis/${name}_2_link.stl" />
        </geometry>
        <material name="pal/DarkGrey" />
      </visual>
      <xacro:link_collision 
        mujoco="${sim_type in ['mujoco-ros2-control', 'mujoco']}"
        collision_type="${collision_type}"
        mesh_file="package://kangaroo_description/meshes/pelvis/${name}_2_link_collision.stl"
        scale="1 1 1">
        <properties>
          <xacro:origin xyz="0 0 0" rpy="0 0 0" condition="${collision_type == 'mesh'}"/>
          <xacro:origin xyz="0 0 0" rpy="0 0 0" condition="${collision_type == 'capsule'}"/>
        </properties>
      </xacro:link_collision>
    </link>
    <joint name="${name}_2_joint" type="revolute">
      <origin xyz="-0.0591 0 0" rpy="0 -1.5708 0" />
      <parent link="${name}_1_link" />
      <child  link="${name}_2_link" />
      <axis xyz="0 0 -1" />
      <limit
        lower="-1.308996939"
        upper="1.308996939"
        effort="100"
        velocity="3.14" />
    </joint>

    <!-- extensions -->
    <!-- <xacro:kangaroo_pelvis_differential_transmission name="${name}" number1="1" number2="2"
                                                act_reduction1="1.0" act_reduction2="1.0"
                                                jnt_reduction1="1.0" jnt_reduction2="1.395348837" /> -->
  </xacro:macro>
</robot>
