<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="kangaroo_pelvis_differential_transmission"
    params="name number1 number2 act_reduction1 act_reduction2 jnt_reduction1 jnt_reduction2">

    <transmission name="${name}_pelvis_trans">
      <plugin>transmission_interface/DifferentialTransmission</plugin>

      <actuator name="${name}_${number1}_actuator" role="actuator1">
        <mechanical_reduction>${act_reduction1}</mechanical_reduction>
      </actuator>
      <actuator name="${name}_${number2}_actuator" role="actuator2">
        <mechanical_reduction>${act_reduction2}</mechanical_reduction>
      </actuator>

      <joint name="${name}_${number1}_joint" role="joint1">
        <offset>0.0</offset>
        <mechanical_reduction>${jnt_reduction1}</mechanical_reduction>
      </joint>
      <joint name="${name}_${number2}_joint" role="joint2">
        <offset>0.0</offset>
        <mechanical_reduction>${jnt_reduction2}</mechanical_reduction>
      </joint>
    </transmission>

  </xacro:macro>
</robot>
