<?xml version="1.0"?>
<!--

  Copyright (c) 2024, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!--File includes-->
  <!--<xacro:include filename="$(find kangaroo_description)/urdf/collision.xacro" /> -->
  <xacro:include filename="$(find pal_urdf_utils)/urdf/camera/realsense_d435i.urdf.xacro"/>

  <xacro:macro name="kangaroo_torso" params="parent *origin">

  <link name="torso_link">
    <inertial>
      <mass value="15.1027"/>
      <origin xyz="-0.008953 0.001581 0.216619" rpy="0 0 0"/>
      <inertia ixx="0.342263" ixy="-0.000525" ixz="-0.00056" 
        iyy="0.31113" iyz="0.002265" izz="0.128871"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kangaroo_description/meshes/torso/${torso_mesh}_link.stl" />
      </geometry>
      <material name="pal/DarkGrey" />
    </visual>
    <xacro:link_collision 
      mujoco="${sim_type in ['mujoco-ros2-control', 'mujoco']}"
      collision_type="${collision_type}"
      mesh_file="package://kangaroo_description/meshes/torso/torso_link_collision.stl"
      scale="1 1 1"
      capsule_radius="0.174514453382318"
      capsule_length="0.306347866543338">
        <properties>
          <xacro:origin xyz="0 0 0" rpy="0 0 0" condition="${collision_type == 'mesh'}"/>
          <xacro:origin xyz="0 0 0.2" rpy="0 0 0" condition="${collision_type == 'capsule'}"/>
        </properties>
    </xacro:link_collision>
  </link>
  <joint name="torso_link_joint" type="fixed">
    <xacro:insert_block name="origin"/>
    <parent link="${parent}" />
    <child link="torso_link" />
  </joint>


  <!-- Torso front cameras -->
  <xacro:realsense_d435i name="torso_front_up_rgbd_camera"  parent="torso_link" use_nominal_extrinsics="${use_sim_time}">
      <origin xyz="0.1056 0 0.40767" rpy="0 0.5236 0"/>
  </xacro:realsense_d435i>

  <xacro:realsense_d435i name="torso_front_down_rgbd_camera"  parent="torso_link" use_nominal_extrinsics="${use_sim_time}">
    <origin xyz="0.095041 0 0.186487" rpy="0 1.0472 0"/>
  </xacro:realsense_d435i>
  
  <!-- Torso back cameras -->
  <xacro:realsense_d435i name="torso_rear_up_rgbd_camera"  parent="torso_link" use_nominal_extrinsics="${use_sim_time}">
    <origin xyz="-0.1056 0 0.40767" rpy="0 0.5236 3.14159"/>
  </xacro:realsense_d435i>

  <xacro:realsense_d435i name="torso_rear_down_rgbd_camera"  parent="torso_link" use_nominal_extrinsics="${use_sim_time}">
    <origin xyz="-0.095041 0 0.186487" rpy="0 1.0472 3.14159"/>
  </xacro:realsense_d435i>

  </xacro:macro>

</robot>
